{% extends "6-index.html" %}

{% block body %}

    <header>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for state in states | sort(attribute='name') %}
                        <li><h2>{{ state.name }}:</h2></li>
                        <li>
                            <ul>
                                {% for city in state.cities | sort(attribute='name') %}
                                    <li>{{ city.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="amenities">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for amenity in amanities | sort(attribute='name') %}
                        <li><h2>{{ amenity.name }}:</h2></li>
                    {% endfor %}
                </ul>
            </div>
            <button>
                Search
            </button>
        </section>
    </div>
    <footer class="footer">
        <p>Best School</p>
    </footer>
{% endblock %}